.container {
    border: solid 2.5px white;
    border-radius: 5px;
    margin: 1rem 2rem;
    padding: 1.5rem;
    width: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.status {
    font-size: 2.441rem;
    color: #073B4C;
    margin: 0;
}

.total {
    font-size: 3.052rem;
    color: #06d6a0;
    margin: 0;
}