.container {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.image {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}

.form {
  width: 12rem;
  align-items: center;
  margin: 1rem;
}

.form__title {
  color: #4361ee;
  font-size: 2rem;
  text-align: left;
}

.form__control {
  color: #4361ee;
  font-size: 1rem;
  text-align: left;
}

.form__input {
  margin: 0.5rem 0 0 0;
  border: 2px solid #4361ee;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.form__submit {
  margin: 0.5rem 0 0.5rem 0;
  background-color: #3a0ca3;
  color: white;
  border-radius: 10px;
  border: 2px solid #3a0ca3;
  width: 100%;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
}
